<a href="https://colab.research.google.com/github/aditya-chawla/Deep-Learning/blob/main/ANN_Churn_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AIM: Implemantation of Artificial Neural Network to predict whether a customer left the bank (closed his account) or he continues to be a customer.

# Upload the dataset

Import numpy as np, pandas as pd and tensorflow as tf

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import  tensorflow as tf

Read the dataset, observe its five rows, leave redundant columns and make x and y

In [ ]:
dataset = pd.read_csv('/content/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
x=dataset.iloc[:,3:-1].values
y=dataset.iloc[:,-1].values

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

Data Preprocessing

Encoding categorical data using Lable Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x[:,2]=le.fit_transform(x[:,2])
print(x)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column using ColumnTransformer and OneHotEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer(transformers=[('one_hot',OneHotEncoder(),[1])],remainder='passthrough')
x=pd.DataFrame(data=ct.fit_transform(x))
print(x)

       0    1    2    3  4   5   6          7  8  9  10         11
0     1.0  0.0  0.0  619  0  42   2        0.0  1  1  1  101348.88
1     0.0  0.0  1.0  608  0  41   1   83807.86  1  0  1  112542.58
2     1.0  0.0  0.0  502  0  42   8   159660.8  3  1  0  113931.57
3     1.0  0.0  0.0  699  0  39   1        0.0  2  0  0   93826.63
4     0.0  0.0  1.0  850  0  43   2  125510.82  1  1  1    79084.1
...   ...  ...  ...  ... ..  ..  ..        ... .. .. ..        ...
9995  1.0  0.0  0.0  771  1  39   5        0.0  2  1  0   96270.64
9996  1.0  0.0  0.0  516  1  35  10   57369.61  1  1  1  101699.77
9997  1.0  0.0  0.0  709  0  36   7        0.0  1  0  1   42085.58
9998  0.0  1.0  0.0  772  1  42   3   75075.31  2  1  0   92888.52
9999  1.0  0.0  0.0  792  0  28   4  130142.79  1  1  0   38190.78

[10000 rows x 12 columns]

Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

Building the ANN

In [ ]:
ann=tf.keras.models.Sequential()

Adding the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=5, activation='relu'))

Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=3, activation='relu'))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

Compiling the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

Training the ANN on the Training set

In [ ]:
ann.fit(x_train, y_train,batch_size=32,epochs=100)

Epoch 1/100
235/235 [==============================] - 2s 3ms/step - loss: 0.6056 - accuracy: 0.7357
Epoch 2/100
235/235 [==============================] - 1s 3ms/step - loss: 0.5132 - accuracy: 0.7983
Epoch 3/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4774 - accuracy: 0.8024
Epoch 4/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4556 - accuracy: 0.8085
Epoch 5/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4423 - accuracy: 0.8131
Epoch 6/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4344 - accuracy: 0.8171
Epoch 7/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4287 - accuracy: 0.8203
Epoch 8/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4244 - accuracy: 0.8209
Epoch 9/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4204 - accuracy: 0.8237
Epoch 10/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4175 - accuracy: 0.8247
Epoch 11/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4149 - accuracy: 0.8263
Epoch 12/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4124 - accuracy: 0.8289
Epoch 13/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4102 - accuracy: 0.8280
Epoch 14/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4080 - accuracy: 0.8291
Epoch 15/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4056 - accuracy: 0.8299
Epoch 16/100
235/235 [==============================] - 1s 3ms/step - loss: 0.4030 - accuracy: 0.8305
Epoch 17/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3997 - accuracy: 0.8315
Epoch 18/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3962 - accuracy: 0.8328
Epoch 19/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3916 - accuracy: 0.8336
Epoch 20/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3847 - accuracy: 0.8352
Epoch 21/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3756 - accuracy: 0.8413
Epoch 22/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3666 - accuracy: 0.8483
Epoch 23/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3597 - accuracy: 0.8517
Epoch 24/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3547 - accuracy: 0.8551
Epoch 25/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3511 - accuracy: 0.8549
Epoch 26/100
235/235 [==============================] - 1s 6ms/step - loss: 0.3487 - accuracy: 0.8563
Epoch 27/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3466 - accuracy: 0.8571
Epoch 28/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3450 - accuracy: 0.8588
Epoch 29/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3440 - accuracy: 0.8576
Epoch 30/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3427 - accuracy: 0.8592
Epoch 31/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8603
Epoch 32/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8584
Epoch 33/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8597
Epoch 34/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8615
Epoch 35/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3391 - accuracy: 0.8592
Epoch 36/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3386 - accuracy: 0.8607
Epoch 37/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3378 - accuracy: 0.8604
Epoch 38/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3378 - accuracy: 0.8596
Epoch 39/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8593
Epoch 40/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3367 - accuracy: 0.8612
Epoch 41/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3369 - accuracy: 0.8607
Epoch 42/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3369 - accuracy: 0.8611
Epoch 43/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3368 - accuracy: 0.8611
Epoch 44/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3365 - accuracy: 0.8604
Epoch 45/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3361 - accuracy: 0.8612
Epoch 46/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3360 - accuracy: 0.8608
Epoch 47/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3360 - accuracy: 0.8600
Epoch 48/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3359 - accuracy: 0.8616
Epoch 49/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3359 - accuracy: 0.8607
Epoch 50/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8619
Epoch 51/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8621
Epoch 52/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8600
Epoch 53/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8609
Epoch 54/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8628
Epoch 55/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8624
Epoch 56/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8619
Epoch 57/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8617
Epoch 58/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8628
Epoch 59/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3353 - accuracy: 0.8619
Epoch 60/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8620
Epoch 61/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8617
Epoch 62/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8612
Epoch 63/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8624
Epoch 64/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8621
Epoch 65/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8613
Epoch 66/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8620
Epoch 67/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8615
Epoch 68/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8603
Epoch 69/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8595
Epoch 70/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8612
Epoch 71/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8623
Epoch 72/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8621
Epoch 73/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8621
Epoch 74/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8628
Epoch 75/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8615
Epoch 76/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8609
Epoch 77/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8625
Epoch 78/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8639
Epoch 79/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8619
Epoch 80/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8632
Epoch 81/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8627
Epoch 82/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8637
Epoch 83/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8613
Epoch 84/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8631
Epoch 85/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8611
Epoch 86/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8623
Epoch 87/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8613
Epoch 88/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8632
Epoch 89/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8629
Epoch 90/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8627
Epoch 91/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8611
Epoch 92/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8612
Epoch 93/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8625
Epoch 94/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8613
Epoch 95/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8629
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8633
Epoch 97/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8612
Epoch 98/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8649
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8625
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8629

Making the predictions and evaluating the model

In [ ]:
y_pred=ann.predict(x_test)
ann.evaluate(x_test, y_test, batch_size=32)
y_pred=(y_pred>0.5)

79/79 [==============================] - 0s 3ms/step - loss: 0.3387 - accuracy: 0.8608

Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[1902   89]
 [ 259  250]]